.review {
  display: flex;
  flex-direction: column;
  width: 800px;
  z-index: 100;
  border: 2px solid rgba(255, 255, 255, 0.45);
  border-top: 2px solid rgba(183, 215, 255, 0.35);
  border-left: 2px solid rgba(183, 215, 255, 0.35);
  padding: 20px 50px;
  border-radius: 20px;
  background: rgba(183, 215, 255, 0.25);
  backdrop-filter: blur(6px);
}

.review p {
  text-align: center;
}

.review input {
  margin: 2rem 0;
}

.review input[type="submit"] {
  padding: 1rem;
  border-radius: 10px;
  background: rgb(0, 11, 90);
  color: white;
  border: 2px solid rgba(174, 183, 255, 0.8);
  border-bottom: 2px solid rgba(174, 183, 255, 0.25);
  border-right: 2px solid rgba(174, 183, 255, 0.25);
  font-size: 1.5rem;
}

.review input[type="submit"]:hover {
  cursor: pointer;
  background: rgba(216, 177, 60, 0.85);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(165, 165, 165, 0.25);
  border-right: 2px solid rgba(165, 165, 165, 0.25);
  color: rgb(0, 11, 90);
}

.field-box {
  display: flex;
  flex-direction: column;
}

.field-box input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgba(183, 215, 255, 0.5);
  border-right: 2px solid rgba(183, 215, 255, 0.5);
  font-size: 1.5rem;
}

.message {
  display: flex;
  flex-direction: column;
}

.message textarea {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgba(183, 215, 255, 0.5);
  border-right: 2px solid rgba(183, 215, 255, 0.5);
  font-size: 1.5rem;
  height: 200px;
  margin: 2rem 0;
}
