.service-title {
  color: rgb(216, 177, 60);
}

.bankcards {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.bankcard-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.mc-bankcard {
  width: 500px;
}

.services-img {
  width: 30vw;
}

.servicecards-container {
  border-right: 1px solid rgba(255, 255, 255, 0.65);
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  border-left: 1px solid rgba(228, 228, 228, 0.45);
  border-top: 1px solid rgba(228, 228, 228, 0.45);
  border-radius: 25px;
  padding-top: 10px;
  backdrop-filter: blur(6px);
  background: rgba(235, 248, 255, 0.25);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  text-align: left;
  align-items: center;
}

.service-msg {
  font-size: larger;
  /* border: 1px solid green; */
}

.modal {
  display: block;
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 3rem;
}

.modal .close-button {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 20px;
  border: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}

.modal-h1 {
  font-size: 30px;
}
.modal-h2 {
  font-size: large;
}
.modal-p {
  font-size: small;
}

.Service-page button {
  background: none;
  border: none;
  font-size: 1.4rem;
  color: rgba(0, 11, 90, 0.7);
}

.Service-page button:hover {
  cursor: pointer;
  color: rgb(216, 177, 60);
}
