*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Lato Black";
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
}

a:link {
  text-decoration: none;
  text-shadow: none;
  color: rgba(0, 11, 90, 0.75);
}
a:visited {
  color: rgb(0, 11, 90);
}
a:hover {
  cursor: pointer;
  font-weight: bold;
  color: rgb(216, 177, 60);
}

h1 {
  text-align: center;
}

.App {
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato Bold";
  font-size: calc(10px + 2vmin);
  color: rgb(0, 11, 90);
}

/* BANK LOGO */
.logo-container {
  position: fixed;
  right: -10px;
  bottom: -80px;
}

.bank-logo {
  z-index: 1;
  height: 450px;
  width: 450px;
  opacity: 30%;
}

/* HEADER & USER NAVIGATION */
.header-container {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background: white; */
}

.header-light {
  background: rgba(0, 0, 0, 0.1);
}

.bank-title {
  text-indent: 2rem;
  font-size: 70px;
  font-family: "IM Fell English SC", serif;
  margin: 0;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.usernav-container {
  margin-top: 5px;
  min-width: 100px;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.usernav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: rgba(0, 11, 90, 0.2);
  border-radius: 50%;
  align-items: center;
}

.usernav-link img {
  padding-top: 5px;
}

.usernav-link:hover {
  cursor: pointer;
  background: rgb(216, 177, 60);
}

.usernav-icons {
  height: 30px;
  width: 30px;
}

/* NAVIGATION */
.navbar-container {
  right: 0px;
  top: 40px;
  width: 30vw;
  min-width: 500px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.nav-link {
  font-family: "Lato Black";
  height: 10vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: rgb(216, 177, 60);
}
.nav-link:hover {
  cursor: pointer;
  color: rgb(0, 11, 90);
}

/* CARDS */
.maincard {
  z-index: 6;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  margin: auto;
  margin-bottom: 200px;
  align-items: center;
}

.secondary-card {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  margin-bottom: 50%;
  justify-content: space-evenly;
  border: 1px solid pink;
}

.mini-card {
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(218, 235, 255, 0.75);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  text-align: center;
  max-width: 30%;
  min-width: 250px;
  padding: 15px;
}

/* FORMS */

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: left;
  border: 2px solid rgba(255, 255, 255, 0.45);
  border-top: 2px solid rgba(183, 215, 255, 0.35);
  border-left: 2px solid rgba(183, 215, 255, 0.35);
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 100px;
  border-radius: 20px;
  background: rgba(183, 215, 255, 0.25);
  backdrop-filter: blur(6px);
}

label {
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
  font-size: large;
}

input,
select {
  height: 6vh;
  width: 40vw;
  align-self: center;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgba(183, 215, 255, 0.5);
  border-right: 2px solid rgba(183, 215, 255, 0.5);
}

.submit-btn {
  height: 6vh;
  width: 20vw;
  background: rgb(0, 11, 90);
  color: white;
  border: 2px solid rgba(174, 183, 255, 0.8);
  border-bottom: 2px solid rgba(174, 183, 255, 0.25);
  border-right: 2px solid rgba(174, 183, 255, 0.25);
}

.submit-btn:disabled {
  opacity: 50%;
}

.submit-btn:hover {
  cursor: pointer;
}
