/* HOME CSS */
.home-welcome {
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.piggybank {
  width: auto;
  height: 30vw;
}

.welcomemsg {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(to right, transparent, rgba(218, 235, 255, 0.85));
  backdrop-filter: blur(5px);
  border-radius: 0 20px 20px 0;
  width: auto;
  height: 30vw;
  text-align: right;
  font-size: 2.5vw;
  font-weight: lighter;
  padding-right: 15px;
  padding-top: 5px;
}

.welcomemsg2 {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(to left, transparent, rgba(253, 255, 218, 0.75));
  backdrop-filter: blur(5px);
  border-radius: 20px 0 0 20px;
  width: auto;
  height: 30.2vw;
  text-align: left;
  font-size: 2.2vw;
  font-weight: lighter;
  padding-left: 15px;
  padding-top: 5px;
}

/* HOMEPAGE - SERVICES */
.bankcard {
  height: 50vh;
  width: 20vw;
}

.servicecard {
  height: 500px;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center -100px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease all;
  padding: 1rem;
  color: transparent;
  text-shadow: none;
  line-height: 1.5;
  font-family: sans-serif;
}

.bankcard-img {
  background-image: url("../../assets/bankcards.jpg");
}

.bankcard-img:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("../../assets/bankcards.jpg");
  background-position: 0 0;
  color: white;
}

.teencred-img {
  background-image: url("../../assets/teenshop.jpg");
}
.teencred-img:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("../../assets/teenshop.jpg");
  background-position: 0 0;
  color: white;
}

.moneytrans-img {
  background-image: url("../../assets/sendmoney.jpg");
}
.moneytrans-img:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("../../assets/sendmoney.jpg");
  background-position: 0 0;
  color: white;
}

.home-benefits {
  display: flex;
}

.cashpile {
  background-image: url("../../assets/1dollar.jpg");
  filter: blur(1.5px);
  background-position: center;
  background-size: cover;
  width: 80vw;
  height: 70vh;
  font-size: 7vw;
  color: transparent;
  text-shadow: none;
  text-align: center;
  transition-property: cashpileimg;
  transition: 2s ease all;
}

.cashpile:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("../../assets/100dollar.jpg");
  background-position: center;
  background-size: cover;
  background-position: 0 0;
  color: white;
  filter: blur(0px);
}

/* REVIEWS */
.reviews {
  position: relative;
  bottom: 0;
  border: 2px solid pink;
  margin-bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  height: 500px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.reviews:hover {
  overflow-y: scroll;
}

.reviews:hover::-webkit-scrollbar {
  display: none;
}

.review-card {
  text-align: center;
  border: 1px solid green;
  margin: 50px;
  height: 450px;
  width: 90%;
}

.review-card1 {
  border: 1px solid red;
  margin-bottom: 3000px;
  height: 10px;
}

/* PROFILE */

.dashboard {
  color: rgb(0, 11, 90);
  text-shadow: none;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column nowrap;
}

.account-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.account-list > * {
  flex: 0 1 22%;
}

.account-card {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(218, 235, 255, 0.5);
  backdrop-filter: blur(5px);
  height: 400px;
  min-width: 240px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  align-items: center;
  color: rgba(0, 11, 90, 0.7);
}

.account-card:hover {
  color: rgb(0, 11, 90);
}

.main-btn {
  width: 150px;
  height: 50px;
  background: rgb(227, 227, 227);
  margin-bottom: 10px;
  color: rgb(0, 11, 90);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  font-size: medium;
}

.main-btn:hover {
  background: white;
  color: rgb(216, 177, 60);
}

.closeacct-btn:hover {
  background: rgba(0, 0, 0, 0.45);
  color: rgb(147, 0, 0);
}

.add-btn {
  width: 100px;
  height: 100px;
  background: url("../../assets/plus.png");
  background-position: center;
  background-size: cover;
  opacity: 30%;
  cursor: pointer;
}

.add-btn:hover {
  opacity: 80%;
}

.dashboard-end {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 5%;
}

.dashboard-btn {
  width: 20vw;
  height: 5vh;
  margin-bottom: 20px;
  font-size: large;
}
