.main-btn {
  width: 50%;
  padding: 1rem;
  border-radius: 10px;
  background: rgb(0, 11, 90);
  color: white;
  border: 2px solid rgba(174, 183, 255, 0.8);
  border-bottom: 2px solid rgba(174, 183, 255, 0.25);
  border-right: 2px solid rgba(174, 183, 255, 0.25);
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.main-btn:hover {
  cursor: pointer;
  background: rgba(216, 177, 60, 0.85);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(165, 165, 165, 0.25);
  border-right: 2px solid rgba(165, 165, 165, 0.25);
  color: rgb(0, 11, 90);
}
