.review-card {
  z-index: 100;
  border: 1px solid black;
  width: 100%;
  max-width: 600px;
  padding: 20px 60px;
  margin: 20px 0;
  border: 2px solid rgba(255, 255, 255, 0.45);
  border-top: 2px solid rgba(183, 215, 255, 0.35);
  border-left: 2px solid rgba(183, 215, 255, 0.35);
  border-radius: 20px;
  background: rgba(183, 215, 255, 0.25);
  backdrop-filter: blur(6px);
}
