.ca {
  z-index: 100;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.45);
  border-top: 2px solid rgba(183, 215, 255, 0.35);
  border-left: 2px solid rgba(183, 215, 255, 0.35);
  padding: 20px 50px;
  border-radius: 20px;
  background: rgba(183, 215, 255, 0.25);
  backdrop-filter: blur(6px);
}

.ca input {
  margin: 2rem 0;
}

.ca input[type="submit"] {
  padding: 1rem;
  border-radius: 10px;
  background: rgb(0, 11, 90);
  color: white;
  border: 2px solid rgba(174, 183, 255, 0.8);
  border-bottom: 2px solid rgba(174, 183, 255, 0.25);
  border-right: 2px solid rgba(174, 183, 255, 0.25);
  font-size: 1.5rem;
}

.field-box {
  display: flex;
  flex-direction: column;
}

.field-box input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgba(183, 215, 255, 0.5);
  border-right: 2px solid rgba(183, 215, 255, 0.5);
  font-size: 1.5rem;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
